<p id="notice"><%= notice %></p>

<p>
  <b>Movie:</b>
  <%= @showtime.movie_id %>
</p>

<p>
  <b>Theater:</b>
  <%= @showtime.theater_id %>
</p>

<p>
  <b>Show date:</b>
  <%= @showtime.show_date %>
</p>

<p>
  <b>Showtimes:</b>
  <%= @showtime.showtimes %>
</p>


<%= link_to 'Edit', edit_showtime_path(@showtime) %> |
<%= link_to 'Back', showtimes_path %>
